# Environments para ocultar
.env
**/.env
*.env


# SA para ocultar
cmpc-innovation-cd4ml-test-sa-ds.json
**/cmpc-innovation-cd4ml-test-sa-ds.json
*cmpc-innovation-cd4ml-test-sa-ds.json

# SA para ocultar 2
sa-gcp-ds-mvp.json
**/sa-gcp-ds-mvp.json
*sa-gcp-ds-mvp.json



