<!doctype html>
<html>

<body style="font-family:arial, sans-serif">
    
    <!-- Definir Titulo Grande del índice -->
    <h1 style="background:lightblue;padding:10px"><center>
            YDATA PROFILING PARA ANÁLISIS EXPLORATORIO BÁSICO (perfilamiento de datos)
    </center></h1>
    
    <!-- Párrafo explicando qué es perfilamiento de datos -->
    <h2><center> Qué es el perfilamiento de datos </center></h2>
    
    <p>
        El perfilamiento de datos es un proceso que se utiliza para analizar y evaluar los datos de una fuente de datos con el fin de comprender su calidad y estructura. 
        El objetivo principal del perfilamiento de datos es descubrir problemas, errores o inconsistencias en los datos que puedan afectar su integridad y calidad.
    </p>
    <p>
        Durante el proceso de perfilamiento de datos, se pueden identificar diversos aspectos de los datos, como la cantidad de registros, la presencia de valores nulos o duplicados, los tipos de datos, 
        la distribución de los valores, los patrones de los datos y las relaciones entre las variables.
    </p>
    <p>
        El perfilamiento de datos es un paso crítico en el proceso de preparación de datos para su uso en análisis, minería de datos, modelado y otros procesos que requieren datos precisos y confiables. 
        El perfilamiento de datos ayuda a garantizar que los datos estén limpios, completos y coherentes antes de que se utilicen en aplicaciones críticas. 
        Además, el perfilamiento de datos también puede ayudar a identificar patrones y tendencias en los datos que pueden ser útiles para la toma de decisiones empresariales.
    </p>

    <!-- Párrafo explicando qué es ydata profiling -->
    <br>
    <h2><center> ydata profiling </center></h2>

    <p> ydata profiling es una librería open source que permite realizar esta tarea de forma simple. Se obtiene un archivo .html (que se puede abrir con cualquier navegador web) con un perfilamiento básico
        de los datos (cantidad de datos, correlaciones, histogramas, percentiles, Interacciones entre las variables, cantidad de nulos, cantidad de valores repetidos además de insights básicos obtenidos a partir
        de estos análisis)
    </p>
    <p><a href="https://ydata-profiling.ydata.ai/docs/master/index.html">Documentación package ydata profiling</a></p>


    <!-- Subir archivo para hacer perfilamiento de datos con ydata profiling -->
    <br>
    <h2><center><a href="generate_report">Click aquí para Realizar perfilamiento</a></center></h2>



</body>
</html>