<!doctype html>
<html>

<body style="font-family:arial, sans-serif">
    
    <!-- Definir Titulo Grande del índice -->
    <h1 style="background:lightblue;padding:10px">
            MENÚ PRINCIPAL DE NAVEGACIÓN
    </h1>
    
    <!-- Listado de Links a las diferentes páginas. Se define el link de la página con igual nombre que en app.py pero sin el / -->
    <p>Haga click para ver los diferentes ejemplos</p>
    <h2><a href="about">Página About (Interacciones básicas entre flask y html)</a></h2>
    <h2><a href="tables">Tablas con valores (desde un dataframe)</a></h2>
    <h2><a href="boxes_messages">Cuadros con mensajes (modificando style)</a></h2>
    <h2><a href="boxes_kpis">Cuadros con KPIS (con css custom)</a></h2>
    <h2><a href="interactions_users">Interacción con el usuario (por hacer...)</a></h2>
    <h2><a href="graph_plotly">Interacción con el usuario (por hacer...)</a></h2>


</body>
</html>