<!doctype html>
<html>

<!-- Head -->
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <style>body{ margin:0 100; background:whitesmoke; }</style>
    
    <!-- <h4><a href="/">Return to index page</a></h4> -->
</head>


<!-- Body -->
<body>
    
    <!--Texto con la hora actual, actualizándose cada segundo-->
    <h4>Current time:</h4>
    <div id="hora_actual"></div>
    <script>
        var source = new EventSource('/actual_time');
        source.addEventListener('message', function(event) {
            document.getElementById('hora_actual').innerHTML = event.data;
        });
    </script>



    <!--Texto con la hora de la última actualzación-->
    <br><br><br>
    <h2>ÚLTIMA ACTUALIZACIÓN: {{time_actual}}</h2>
    <br><br>


    <!-- Unidad básica para hacer un plot en html-->
    <div id="chart" class="chart"></div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graphs = {{json_plot_time | safe}};
        Plotly.plot('chart',graphs,{});
    </script>


    <!--Recargar página cada 60 segundos (tiempo en milisegundos)-->
    <script>
    setTimeout(function(){
    location.reload();
    }, 60000);
    </script>



</body>
</html>