<!doctype html>
<html>

<body style="font-family:arial, sans-serif">
    
    <!-- Definir Titulo Grande del índice -->
    <h1 style="background:lightblue;padding:10px">
            MENÚ PRINCIPAL DE NAVEGACIÓN
    </h1>
    
    <!-- Listado de Links a las diferentes páginas -->
    <p>Haga click para ver los diferentes ejemplos</p>
    <h2><a href="about">Página About (Interacciones básicas entre flask y html)</a></h2>
    <h2><a href="tables">Tablas con valores (desde un dataframe obtenido de BQ - GCP)</a></h2>


</body>
</html>